.Question {
    display: block;
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}